body {
  background: #fff2ff;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #8e00e8;
  animation: fadeIn 1s;
}

p {
  background: white;
  padding: 12px;
  border-radius: 8px;
  border-left: 5px solid #d300ff;
  margin-bottom: 12px;
  animation: slideIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-15px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
